<div class="row" style="margin-top: 20px; text-align: center">
  <div class="col-xs-4 col-md-offset-4" >
    <label class="labelInp" for="DateInput">Data</label>
    <input *ngIf="ifDateOk" id="DateInput" class="inputWeight form-control " style="margin-right: 10px; display: inline-block" type="date" [(ngModel)]="dateInp" min='{{ currentDate }}'>
    <input *ngIf="!ifDateOk" id="DateInput" class="inputWeight form-control alert-danger " style="margin-right: 10px; display: inline-block; border: solid red 3px; color: black" type="date" [(ngModel)]="dateInp" min='{{ currentDate }}'>
    <label *ngIf="!ifDateOk"  class="labelInpWrong"  for="weightInput" style="margin-top: 2px;">Data nie może być starsza niż {{ currentDate }}</label>
    <label class="labelInp"  for="weightInput" style="margin-top: 10px">Waga</label>
    <input *ngIf="ifWeightOk" class="inputWeight form-control" id="weightInput" type="number" style="text-align: center; display: inline-block" min="1" [(ngModel)]="weightInp" >
    <input *ngIf="!ifWeightOk" class="inputWeight form-control alert-danger" id="weightInput" type="number" style="text-align: center; display: inline-block; border: solid red 3px; color: black" min="1" [(ngModel)]="weightInp" >
    <label *ngIf="!ifWeightOk"  class="labelInpWrong"  for="weightInput" style="margin-top: 2px">Niepoprawna wartość</label>
  </div>
  <div style="float: left">
    <div class="col-xs-4">
      <button class="SubmitBtn"  (click)="storeData()"
      [disabled]="!dateInp || !weightInp">Dodaj pomiar</button>
    </div>
  </div>

</div>
<div class="row" style="margin-top: 30px">
  <div style="display: block" >
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
