<nav class="navbar navbar-inverse" style="margin-bottom: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">GymGuide</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Kalulator Kalorii</a></li>
      <li><a routerLink="/bmi">Kalulator BMI</a></li>
      <li><a routerLink="/diets" *ngIf="isLoggedIn">Dieta</a></li>
      <li><a routerLink="/exercises" *ngIf="isLoggedIn">Cwiczenia</a></li>
      <li><a routerLink="/weight" *ngIf="isLoggedIn">Moja Waga</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="cursor: pointer" *ngIf="isLoggedIn" (click)="OnLogout()"><span class="glyphicon glyphicon-log-out" style="margin-right: 5px"></span>Wyloguj</a>
      </li>
      <li><a routerLink="/register" *ngIf="!isLoggedIn"><span class="glyphicon glyphicon-user" style="margin-right: 5px"></span> Rejestracja</a></li>
      <li><a routerLink="/login" *ngIf="!isLoggedIn"><span class="glyphicon glyphicon-log-in" style="margin-right: 5px"></span> Logowanie</a></li>
    </ul>
  </div>
</nav>
