<nav class="navbar navbar-inverse" style="margin-bottom: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GymGuide</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Kalulator Kalorii</a></li>
      <li><a href="#">Kalulator BMI</a></li>
      <li><a href="#">Dieta</a></li>
      <li><a href="#">Cwiczenia</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user" style="margin-right: 5px"></span> Rejestracja</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in" style="margin-right: 5px"></span> Logowanie</a></li>
    </ul>
  </div>
</nav>
