<div class="row" style="margin-top: 50px">
<div class="col-lg-4">
    <div class="exerciseVideo">
      <p class="fast">Modlitewnik</p>
      <iframe style="border-radius: 10px" width="350" height="315" src="https://www.youtube.com/embed/-LQsf6XMA9Y?start=83" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="exerciseVideo">
      <p class="fast">Wyciag dolny</p>
      <iframe style="border-radius: 10px" width="350" height="315" src="https://www.youtube.com/embed/RjmADgjekgA?start=83" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="exerciseVideo" style="text-align: center">
      <p class="fast">Bayesian Curls</p>
      <iframe style="border-radius: 10px" width="350" height="315" src="https://www.youtube.com/embed/b0iz-DmOX_M?start=97" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 50px">
  <div class="col-lg-4">
    <div class="exerciseVideo">
      <p class="fast">Wyciskanie wąsko</p>
      <iframe width="350" height="315" style="border-radius: 10px" src="https://www.youtube.com/embed/R2ReOzVp6qU?start=71" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="exerciseVideo">
      <p class="fast">Wyciskanie Francuskie</p>
      <iframe width="350" height="315" style="border-radius: 10px" src="https://www.youtube.com/embed/R2ReOzVp6qU?start=116" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="exerciseVideo" style="text-align: center">
      <p class="fast">Wyprost łokcia</p>
      <iframe width="350" height="315" style="border-radius: 10px" src="https://www.youtube.com/embed/TsxAGE8iQfg?start=153" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>
