.dietBox {

}

.dietTitle {
  background-color: linen;
  font-size: 30px;
  min-height: 70px;
  display: block;
  position: relative;
}

.dietList {
  margin-top: 8px;
  height: 450px;
  background-color: linen;
}

.rowInList {
  padding: 10px;
  display: block;
}

.dietBoxLeft {
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 20px;

}

.dietBoxRight {
  display: block;
  margin-left: 120px;
  width: calc(100% - 120px);
  line-height: 40px;
  text-align: right;
}

.buttonPosition{
  margin-right: 20px;
  background-color: lightskyblue;
  border:  red;
}

.imgPosition{
  max-height: 55px;
  margin-right: 30px;
  margin-top: 5px;
  max-width: 55px;
}
.title-style{
  font-size: 30px;
  font-weight: bold;
}