<div class="row" style="margin-top: 50px">
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="dietBox">
      <div class="dietTitle">
        <div class="dietBoxLeft">
          <p class="title-style">Sportowa</p>
        </div>
        <div class="dietBoxRight">
          <span ><img src="https://www.flaticon.com/svg/static/icons/svg/2860/2860823.svg" class="imgPosition"></span>
        </div>
      </div>
        <div class="dietList">
          <div class="rowInList">
            <div class="dietBoxLeft">
              <p>1500 kcal</p>
            </div>
            <div class="dietBoxRight">
              <button class="btn btn-success buttonPosition">Pobierz pdf</button>
            </div>
          </div>
          <div class="rowInList">
            <div class="dietBoxLeft">
              <p>1800 kcal</p>
            </div>
            <div class="dietBoxRight">
              <button class="btn btn-success buttonPosition">Pobierz pdf</button>
            </div>
          </div>
          <div class="rowInList">
            <div class="dietBoxLeft">
              <p>2000 kcal</p>
            </div>
            <div class="dietBoxRight">
              <button class="btn btn-success buttonPosition">Pobierz pdf</button>
            </div>
          </div>
          <div class="rowInList">
            <div class="dietBoxLeft">
              <p>2200 kcal</p>
            </div>
            <div class="dietBoxRight">
              <button class="btn btn-success buttonPosition">Pobierz pdf</button>
            </div>
          </div>
          <div class="rowInList">
            <div class="dietBoxLeft">
              <p>2500 kcal</p>
            </div>
            <div class="dietBoxRight">
              <button class="btn btn-success buttonPosition">Pobierz pdf</button>
            </div>
          </div>
          <div class="rowInList">
            <div class="dietBoxLeft">
              <p>2700 kcal</p>
            </div>
            <div class="dietBoxRight">
              <button class="btn btn-success buttonPosition">Pobierz pdf</button>
            </div>
          </div>
          <div class="rowInList">
            <div class="dietBoxLeft">
              <p>3000 kcal</p>
            </div>
            <div class="dietBoxRight">
              <button class="btn btn-success buttonPosition">Pobierz pdf</button>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="dietBox">
      <div class="dietTitle">
        <div class="dietBoxLeft">
          <p class="title-style">Wegetariańska</p>
        </div>
        <div class="dietBoxRight">
          <span ><img src="https://www.flaticon.com/premium-icon/icons/svg/2382/2382480.svg" class="imgPosition"></span>
        </div>
      </div>
      <div class="dietList">
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>1500 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>1800 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>2000 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>2200 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>2500 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>2700 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>3000 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <div class="dietBox">
      <div class="dietTitle">
        <div class="dietBoxLeft">
          <p class="title-style">Standart</p>
        </div>
        <div class="dietBoxRight">
          <span ><img src="https://www.flaticon.com/svg/static/icons/svg/706/706195.svg" class="imgPosition"></span>
        </div>
      </div>
      <div class="dietList">
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>1500 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>1800 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>2000 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>2200 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>2500 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>2700 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
        <div class="rowInList">
          <div class="dietBoxLeft">
            <p>3000 kcal</p>
          </div>
          <div class="dietBoxRight">
            <button class="btn btn-success buttonPosition">Pobierz pdf</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>