<div class="row" style="margin-top: 80px;" >
  <div class="col-xs-12 col-lg-4 col-md-6 col-sm-12 col-sm-offset-3 col-md-offset-1 col-lg-offset-0 col-xs-offset-2 btstrGrid" >
    <a routerLink="arms" style="text-decoration: none;">
      <div class="exerciseBox">
        <p class="exerciseBoxText">Biceps / Triceps</p>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-lg-4 col-md-6 col-sm-12 col-sm-offset-3 col-xs-offset-2 col-md-offset-0 btstrGrid" >
    <a routerLink="chest" style="text-decoration: none;">
      <div class="exerciseBox">
        <p class="exerciseBoxText2">Klata</p>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 col-sm-12 col-sm-offset-3 col-md-offset-3 col-lg-offset-0 col-xs-offset-2 btstrGrid" >
    <a routerLink="back" style="text-decoration: none;">
      <div class="exerciseBox">
        <p class="exerciseBoxText2">Plecy</p>
      </div>
    </a>
  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="col-xs-12 col-sm-12 col-md-6  col-md-offset-1 col-lg-offset-2 col-xs-offset-2 col-sm-offset-3 btstrGrid" >
    <a routerLink="legs" style="text-decoration: none;">
      <div class="exerciseBox">
        <p class="exerciseBoxText2">Nogi</p>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-xs-offset-2 col-md-offset-0 col-sm-offset-3 btstrGrid">
    <a routerLink="shoulders" style="text-decoration: none;">
      <div class="exerciseBox">
        <p class="exerciseBoxText2">Barki</p>
      </div>
    </a>
  </div>
</div>
