<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="calculator"
    *ngIf="!view">
      <h3 style="box-shadow: 1px 1px 20px black;padding: 20px;border-radius: 15px; background-color:  #99ccff"><strong>Oblicz dzienne zapotrzebowanie kaloryczne</strong></h3>
      <div class="calculatorDesc" style="margin-top: 20px">
      <div class="rowINcalc" style="margin-top: 15px; ">
        <div class="left-input">
          <span class="input-label">Płeć:</span>
        </div>
        <div class="right-input">
          <select  class="right-input-style" id="select" name="select" [(ngModel)]="gender">
            <option value="0">Mężczyzna</option>
            <option value="1">Kobieta</option>
          </select>
        </div>
      </div>
      <div class="rowINcalc">
        <div class="left-input">
          <span class="input-label">Wiek:</span>
        </div>
        <div class="right-input">
          <input *ngIf="ifAgeOk" type="number" class="right-input-style" [(ngModel)]="age" min="1">
          <input *ngIf="!ifAgeOk" type="number" class="right-input-style-bad alert-danger" [(ngModel)]="age" min="1">
        </div>
        <label *ngIf="!ifAgeOk" style="color: red; font-size: 13px">Nieprawidłowa wartość</label>
      </div>
      <div class="rowINcalc">
        <div class="left-input">
          <span class="input-label">Waga:</span>
        </div>
        <div class="right-input">
          <input *ngIf="ifWeightOk" class="right-input-style"type="number" [(ngModel)]="weight" min="1" >
          <input *ngIf="!ifWeightOk" class="right-input-style-bad alert-danger"type="number" [(ngModel)]="weight" min="1" >
          <span class="label-test" >kg</span>
        </div>
        <label *ngIf="!ifWeightOk" style="color: red; font-size: 13px">Nieprawidłowa wartość</label>
      </div>
      <div class="rowINcalc">
        <div class="left-input">
          <span class="input-label">Wzrost:</span>
        </div>
        <div class="right-input">
          <input *ngIf="ifLenghtOk" class="right-input-style"type="number" [(ngModel)]="length" min="10">
          <input *ngIf="!ifLenghtOk" class="right-input-style-bad alert-danger"type="number" [(ngModel)]="length" min="10">
          <span class="label-test" >cm</span>
        </div>
        <label *ngIf="!ifLenghtOk" style="color: red; font-size: 13px">Wartość nie może być mniejsza niż 10</label>
      </div>
      <div class="rowINcalc">
        <div class="left-input">
          <span class="input-label">Aktywność:</span>
        </div>
        <div class="right-input">
          <select  class="right-input-style" [(ngModel)]="activity">
            <option value="1.15">Brak</option>
            <option value="1.3">Mała (ćwiczenia 1-3 tygodniowo, praca siedząca)</option>
            <option value="1.6">Srednia (ćwiczenia 3-5 tygodniowo, lekka praca fizyczna)</option>
            <option value="1.8">Duża (ćwiczenia codziennie, praca fizyczna)</option>
            <option value="2">Bardzo duża (ćwiczenia codziennie, cieżka praca fizyczna)</option>
          </select>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btnstyle"
        (click)="OnClick()"
        [disabled]="!gender || !age || !weight || !length || !activity">
          Oblicz</button>
      </div>
    </div>
    </div>
    <div class="calculatorDesc"
    *ngIf="view">
      <h3 style="margin: 20px"><strong>Twoje podstawowa przemiana materii wynosi:</strong></h3>
      <span style="font-size: 40px; display: block; margin-bottom: 40px; margin-top: 50px">{{BMR}}  kcal</span>
      <h3 style="margin: 20px"><strong>Twoje zapotrzebowanie uwzględniając aktywność:</strong></h3>
      <span style="font-size: 40px; display: block; margin-bottom: 40px; margin-top: 50px">{{BMRact}}  kcal</span>


    <div *ngIf="view" class="btn-group">
      <button class="btn btnstyle"
              (click)="onClear()">Oblicz Ponownie</button>
    </div>
  </div>
  </div>
</div>

<div class="row" style="margin-bottom: 10px">
  <div class="col-xs-12 col-md-6">
    <div class="calculatorDesc">
      <h3 style="margin-bottom: 20px"><strong>Do czego służy kalkulator kalorii ?</strong></h3>
      <p style="text-align: left; margin: 10px; text-align: justify">
        Kalkulator kalorii umożliwia szybkie i wygodne wyliczenie własnego dziennego zapotrzebowania na
        kalorie oraz poznanie wskaźnika BMR. Wskaźnik podstawowej przemiany materii (Basal Metabolic Rate, BMR)
        jest minimalnym dziennym zapotrzebowaniem energetycznym koniecznym do podtrzymania podstawowych procesów
        życiowych ciała w spoczynku.
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="calculatorDesc" style="min-height: 210.34px">
      <h3 style="margin-bottom: 20px"><strong>Ważne !</strong></h3>
      <p style="text-align: left; margin: 10px; text-align: justify">
        Każdy organizm jest inny! Podane przez kalkulator kalorii wartości mają charakter orientacyjny i pomocniczy.
        Żadne narzędzie nie zastąpi konsultacji ze specjalistą! Zamieszczone informacje nie mogą być podstawą do przeprowadzenia
        samodiagnozy czy leczenia.
      </p>
    </div>
  </div>
</div>
